/* primeira coisa a se fazer é zerar a estilização, comecar do zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/* criar variaveis */
:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --gray-200: #cccccc;
    --gray-400: #505861;
    --gray-700: #2C2C2C;
    /* Cinza bem escuro */

    --black-800: #171717;
    --black-900: #0D0D0D;
    /* Preto mais escuro */
    --black-700: #1F1F1F;
    /* Preto intermediário */
    --black-600: #292929;
    /* Preto mais claro */

    --blue-200: #8AAAE5;
    /* Azul claro suave */
    --blue-500: #2F4F75;
    /* Azul escuro intermediário */
    --blue-800: #1A2A45;
    /* Azul bem escuro */

    --white: #F9F9F9;
}

/* Dimensiona a pagina antes. */
html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

button,
a {
    cursor: pointer;
}

.botao {
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--blue-500);
    border-radius: 10px;
    font-weight: 700;
}

.botao:hover {
    background-color: var(--blue-500);
    color: var(--white);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização - seção Header */
.menu_container {
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--gray-700);
    border-bottom: 1px solid var(--gray-400);
    filter: opacity(0.9);
}

.menu_container a {
    color: var(--white);
    font-weight: 700;
}

.menu_container a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list {
    list-style: none;
    text-align: center;
}

.menu_list li {
    margin-left: 1rem;
}

/* Estilização da Seção Home */

.home_container {
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.home_container p,
h1,
h4 {
    text-align: center;
    font-size: 1rem;
}

.home_container h1 {
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.home_container h4 {
    font-weight: 700;
}

.home_container p {
    margin: 1rem 0;
}

.home_container .botao {
    width: 40%;
}

.home_content {
    width: 50vw;
    flex-direction: column;
}

.home_content img {
    display: flex;
    width: 75%;
}

.home_content a {
    color: var(--blue-800);
}

.home_assinatura {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    /* Ajuste conforme necessário */
    color: var(--blue-500);
}


/* Estilização da Seção Home - Página Sucess */

.home_container_sucess {
    height: calc(100vh - 12rem);
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;
}
.home_container_sucess a{
    color: var(--blue-800);
}

#home_sucess {
    width: 50vw;
    flex-direction: column;
}

#home_sucess h1 {
    font-size: 2rem;
    font-weight: 700;
}

#home_sucess h4 {
    font-size: 1.25rem;
    padding: 1rem;

}


/* Estilização da Seção About */
.about_container {
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}


.about_container h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.about_container p {
    margin: 1rem;
}



.about_container img {
    width: 25%;
    border: 4px solid var(--blue-500);
    border-radius: 100%;
}

.about_content {
    flex-direction: column;
    text-align: center;
}

.github_info {
    flex-direction: row;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;

}

.github_info a {
    color: var(--blue-800);
}


/*Estilização da Seção Contact */
.contato_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 1120px;
    margin: 4rem auto 2rem;
    padding: 0 2rem;

}

.contato_container h4 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.contato_content {
    flex-direction: column;
    margin: 4rem 0 0 0;
    font-size: 1.25rem;
}

.contato_content p {
    display: block;
    text-align: justify;
}

/*Estilização da Seção Redes Sociais */

.social_container {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.social_icon {
    width: 4.75rem;
}

/*Estilização da Seção Form */
form {
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
    padding: 1.25rem;
    border: none;
    background-color: var(--gray-700);
    border-radius: 25px;
    color: var(--white);
}

form label {
    font-size: 1.25rem;
    text-align: left;
}

form input,
textarea {
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}

textarea {
    resize: none;
}

form span {
    margin-bottom: 0.5rem;
    margin-left: 0.75;
    font-size: 0.75rem;
    line-height: 1.25;
    color: red;
}

form button {
    color: var(--white);

}



/* cria filtro com a cor purple */
.social_icon:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(24%) saturate(4557%) hue-rotate(242deg) brightness(89%) contrast(108%);

}

footer {
    height: 80px;
    width: 100%;
    background-color: var(--gray-700);
    border-bottom: 1px solid var(--gray-400);
    font-weight: 700;
    color: var(--white);

}

/*Modo responsivo*/


/*Smartphone - Telas ate 480px*/

@media screen and (max-width: 480px) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        display: flex;
        flex: 1;
        flex-direction: column;

    }

    footer {
        margin-top: auto;
    }

    /* Ajustes no Menu*/

    .menu_container {
        height: auto;
        padding: 1rem 0;

    }

    .menu_content {
        justify-content: center;
        max-width: 100%;
        /* padding: 1rem; */
    }

    #titulo a {
        font-size: 1.75rem;
    }

    .menu_list {
        display: none;
    }

    /* ajustes na seção home */

    .home_container {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .home_content {
        width: 100%;
    }

    .home_content h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .home_content .botao {
        width: 80%;
    }

    .home_content .img {
        width: 80%;
    }

    #home_texto {
        margin-top: 0.5rem;
    }

    #home_imagem {
        margin-bottom: 0;
    }

    /* Ajustes seção about*/

    .about_container {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .about_container img {
        width: 70%;
    }

    .about_container h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .github_info {
        flex-direction: column;
        gap: 0.5rem;
    }

    .github_info p {
        display: none;

    }

    .github_info .botao {
        width: 80%;

    }

    /* Ajustes Contato */

    .contato_container {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .contato_content {
        width: 100%
    }

    .contato_content h4 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .contato_content p {
        margin: 1rem;
    }

    /* Ajustes da Seção Redes Sociais */

    .social_container {
        justify-content: center;
        width: 100%;
    }

    .social_icon {
        width: 4rem;
        height: 4rem;
    }

    /* Ajustes da Seção Form */

    form {
        margin: 1rem 0 0 0;
        padding: 1rem;
    }

}